.ContainerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fefefe;
}

.ContainerLogo {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.ContainerLogo img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.ContainerLogo h1 {
    font-size: 2rem;
    color: #E50914;
    text-transform: uppercase;
    font-weight: 800;
}

.CardForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.29);
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.20);
}

.CardForm .CardTitle {
    text-align: center;
    font-size: 2rem;
    color: #E50914;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0 0.5rem;
}

.CardForm .CardSubtitle {
    color: #5e5b5b;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.CardForm .CardDot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
    color: #E50914;
    font-size: 1.5rem;
}

.CardDot hr {
    width: 100%;
    border: 1.2px solid #5e5b5b50;
    margin: 0 2rem;
}

.CardForm span {
    text-align: center;
    color: #E50914;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.CardData {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 80%;
    margin: 0 auto 2rem;
}

.CardData svg {
    margin: 0 0.5rem;
    color: #E50914;
    font-size: 1.1rem;

}

.CardForm label {
    font-size: .8rem;
    color: #5e5b5b;
    font-weight: 400;
    margin: 1rem 0 0.4rem;
    display: flex;
    align-items: center;
}

.CardForm input {
    font-size: .8rem;
    color: #5e5b5b;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin: 0 auto;
}

.CardForm input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    appearance: none;
    -moz-appearance:textfield; 
}


.ContainerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

