.button {
    background: var(--primary-color);
    border: none;
    padding: 0.8rem;
    border-radius: 5rem;
    outline: none;
    cursor: pointer;
    width: 30%;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.button:hover, .button:focus {
    background-color: transparent;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}


