.button {
    background: #E50914;
    border: none;
    padding: 0.8rem;
    border-radius: 10rem;
    outline: none;
    cursor: pointer;
    width: 15rem;
    font-size: 1rem;
    color: #ffff;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.button.hover {
    background-color: transparent;
    color: #E50914;
    outline: 1px solid #E50914;
}
