main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 15px;
    background-color: var(--background1-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
    width: 50%;

}
.title{
    font-size: 2,5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.welcome{
    margin-bottom: 4rem;
    color: var(--text-color);
}
.button{
    margin: 1rem;
    padding: 1.4rem;
    
}
.containerButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 80%;
}

.buttonLogout{
    margin-bottom: 2rem;

}