.CardListUser {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1rem;
  background-color: #F7F6FA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.CardListUser:hover {
  transform: scale(1.05);
}

.CardListName {
  display: flex;
  align-items: center;
}

.CardListUser h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: #E50914;
  color: #fff;
}

.CardListUser h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

.icon {
  padding-right: 3rem;
  cursor: pointer;
  font-size: 2rem;
}

/* Adicione estes estilos ao seu arquivo styles.css */
.load-more-button {
  padding: 8px 16px;
  margin: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.load-more-button:hover {
  background-color: #0056b3;
}

/* Estilos para o botão "Ver Menos" */
.load-more-button:last-child {
  background-color: #dc3545;
}

.load-more-button:last-child:hover {
  background-color: #bd2130;
}

@media (max-width: 768px) {
  .CardListUser {
    width: 95%;
  }

  .CardListUser h2 {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }

  .icon {
    padding-right: 1rem;
    font-size: 1.3rem;
  }

  .CardListUser h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}