.my-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color-dimmed);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.my-modal .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.my-modal .modal-content {
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 2rem;
    width: 40%;
    text-align: center;
}

.my-modal .modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.icon-alert {
    font-size: 2rem;
    margin-right: 0.3rem;
    margin-bottom: 0.1rem;
    color: var(--primary-color);
}

.modal-title h4 {
    display: flex;
    align-items: center;
}

.my-modal .modal-body {
    font-size: 1.125rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 16px;
    padding: 0.8rem 0 1.5rem;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close {
    display: none;
}

.nao{
    background-color: var(--green-color);
    margin-right: 1rem;
}

.nao:hover{
    background-color: transparent;
    outline: 1px solid var(--green-color);
    color: var(--green-color);
}

@media (max-width: 768px) {
    .my-modal .modal-content {
        width: 80vw;
    }
}