.ContainerStock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.ContainerStock .Title {
    margin: 1.2rem 0 0 0;
    color: var(--primary-color);
    text-transform: uppercase;
}

.ContainerStock .Subtitle {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.ContainerBloodBag {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.BloodBagIcon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    margin-right: 1.5rem;
}

.ContainerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.ContainerIcon:hover {
    transform: scale(1.1);
}

.ContainerIcon img {
    width: 9.25rem;
    height: 9.25rem;
}

.ContainerIcon span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.ContainerIcon p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0.8rem;
}

.no-events {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.IconText {
    display: block;
    color: var(--text-color);
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    outline: 1px solid var(--border-color);
}

thead {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
}

th,
td {
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

th {
    white-space: normal;
    word-break: keep-all;
}

td {
    width: 25%;
    font-weight: 400;
    color: var(--text-color);
    border-right: 1px solid var(--border-color);
}

